---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBar from "@components/Search";
import getSortedPosts from "@utils/getSortedPosts";

// Retrieve all published articles
const posts = await getCollection("blog", ({ data }) => !data.draft);
const sortedPosts = getSortedPosts(posts);

// List of items to search in
const searchList = sortedPosts.map(({ data, slug }) => ({
  title: data.title,
  description: data.description,
  data,
  slug,
}));
---

<Layout
  title={`Tìm kiếm | ${SITE.title}`}
  titleMeta="Tìm Kiếm Mã Nguồn Mở – Tìm Tài Nguyên Công Nghệ Nhanh Chóng"
  descriptionMeta="Tìm kiếm thông tin về mã nguồn mở và công nghệ dễ dàng, khám phá tài liệu và tài nguyên công nghệ hữu ích."
>
  <Header activeNav="search" />
  <Main pageTitle="Tìm kiếm" pageDesc="Tìm kiếm bất kỳ bài viết nào ...">
    <SearchBar client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
