---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import { SITE } from "@config";

const posts = await getCollection("blog");

let tags = getUniqueTags(posts);
---

<Layout title={`Từ khóa | ${SITE.title}`} titleMeta="Khám Phá Từ Khóa Mã Nguồn Mở – Chủ Đề Công Nghệ Nổi Bật"
        descriptionMeta="Danh sách từ khóa và chủ đề mã nguồn mở phổ biến, giúp bạn tìm kiếm kiến thức và cập nhật xu hướng công nghệ mới.">
  <Header activeNav="tags" />
  <Main pageTitle="Từ khóa" pageDesc="Tất cả các từ khóa được sử dụng trong bài viết.">
    {
      tags.length === 0 && (
        <p>Không có từ khóa nào.</p>
      )
    }
    <ul>
      {tags.map(({ tag }) => <Tag {tag} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
