---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
---

<Layout title={`Bài viết | ${SITE.title}`} titleMeta="Bài Viết Mã Nguồn Mở – Hướng Dẫn, Tin Tức và Công Nghệ Mới"
        descriptionMeta="Tổng hợp bài viết chuyên sâu về mã nguồn mở: Hướng dẫn lập trình, cập nhật công nghệ và tin tức mới nhất.">
  <Header activeNav="posts" />
  <Main pageTitle="Bài viết" pageDesc="Tất cả các bài viết đã đăng.">
    {page.data.length === 0 && (
      <p>Không có bài viết nào.</p>
    )}
    <ul>
      {
        page.data.map(({ data, slug }) => (
          <Card href={`/bai-viet/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
